.contanier{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #efefef;
    position: relative;
}
.contanier form{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.contanier form .col{
    display: flex;
    flex-direction: column;
    width: 50%;
}
@media (max-width: 768px) {
    .contanier form {
        display: flex;
        flex-direction: column;
    }
    .contanier form .col {
        width: 100%; 
    }
}
.contanier form .col label{
    font-size: 25px;
    font-weight: normal;
}.contanier form .col .Brieft,
.contanier form .col input{
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 3px;
    box-shadow: 0 0 10px #ddd;
}
.star {
    position: relative;
}
.star::after {
    content: "*"; 
    color: red; 
    font-size: 20px;
    position: absolute;
    top: 0; 
}  
.contanier a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #009688;
    margin: 10px;
    text-align: center;
}


